body {
  background-color: black;
}
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
}

.display-container {
  padding: 10px;
}

.display {
  background-color: #fff;
  border: 1px solid #ccc;
  width: 100%;
  border-radius: 5px;
  height: 60px;
  margin-bottom: 10px;
  text-align: right;
  font-size: 20px;
}

.keypad {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

button {
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 20px;
  height: 50px;
  margin: 5px;
  padding: 0 10px;
  width: 70px;
}

button:hover {
  background-color: #bbb;
  cursor: pointer;
}

button:active {
  background-color: #999;
}
